html, body, div, input
{
  font-family:  monospace, Arial, sans-serif, 'Microsoft Yahei', '微软雅黑', MingLiU !important;
  cursor: default;
  font-size: 10px;
}

.button
{
  cursor: pointer;
  display: inline-block;
  padding: 0em 0.1em;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  margin: 0.1em 1em;
}
.button:hover
{
  opacity: 1;
}
.button i
{
}

.title
{
  font-size: 12px;
  margin: 0.3em 0.4em 0.2em 0.5em;
}


.label
{
  opacity: 0.4;
  text-align: right;
  vertical-align: top;
  margin-right: 0.6em;
}
.label i
{
  font-size: 14px;
  line-height: 14px;
  margin-top: 2px;
  display: block;
}
.editable
{
  vertical-align: top;
}
.editable>*
{
  margin: 0;
  vertical-align: middle;
}
.editable span
{
  border-bottom: 1px solid #777;
  width: 100%;
}
.editable input
{
  border: none !important;
  outline: none;
  padding: 0 0.4em;
  box-shadow:inset 0px 0px 0px 1px #777;
  width: auto;
}

.not-set
{
  opacity: 0.2;
  font-style: italic;
}

.card
{
  box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.15);
  margin: 0 0.5em 2em 0.5em;
}
.card.relax
{
  padding: 1em;
}


.site
{
  display: inline-block;
  vertical-align: top;
}

.albums
{
  display: inline-block;
  vertical-align: top;
}
.album
{
  vertical-align: top;
  padding: 0.1em;
}
.album div
{
  display: inline-block;
}
.album .amount
{
  opacity: 0.4;
}

.photo-column
{
  column-count: 3;
}
.photo
{
  break-inside: avoid;
  display: flex;
  vertical-align: top;
}
.photo .preview
{
  flex: 3;
  margin-bottom: -3px;
}
.photo .meta
{
  flex: 1;
  padding: 0.8em 1em;
}
.photo .meta table
{
  width: 100%;
}
.photo img
{
  width: 100%;
}

#file_upload
{
  padding: 5em -;
  width: 100%;
  text-align: center;
  font-size: 16px;
  opacity: 0.4;
  background: rgba(0,0,0,0.1);
  transition: opacity 0.2s ease-in;
}
#file_upload.hover
{
  box-shadow: inset 0px 0px 24px 0px rgba(50, 50, 50, 0.25);
}
