{% extends 'base.html' %}

{% block theme_name %}Ants{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{cfg.static_dir}}/index.css">
{% endblock %}

{% block body %}
  <div class="nav" :class="{'semi-transparent':route('about')}">
    <div class="menu">
      <a  class="title" @click="go('overview')">${title}</a>
      <div class="item" @click="go('overview')" :class="{selected:route('overview')}">Overview</div>
      <div class="item" @click="go('albums')"   :class="{selected:route('albums')}"  >${viewmode? current.name: 'Albums'}</div>
      <div class="item" @click="go('about')"    :class="{selected:route('about')}"   >About</div>
    </div>
    <!--<div v-if="viewmode" class="headers">
      <div class="header">${current.name}</div>
      <div class="sub header">${current.des || (current.amount + '{{cfg.lanuages.photos}}')}</div>
      <div class="pages">
        <div class="current">${current.page || 1}</div>
        <div class="divider">/</div>
        <div class="total">${current.amount}</div>
        <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(-1)">navigate_before</i>
        <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(1)">navigate_next</i>
      </div>
    </div>-->
    <div class="back">
      <div @click="scrolltop" id="scrolltop_btn" class="icon button hidden">
        <i class="material-icons">vertical_align_top</i>
      </div>
      <div @click="router_back(1)" v-if="viewmode" transition="fade" class="icon button">
        <i class="material-icons">clear</i>
      </div>
    </div>
    <div class="about" v-if="router[0] == 'about'">
      <div class="headers">
        <div class="header"     v-text="title"></div>
        <div class="sub header" v-text="des"></div>
      </div>
      <p v-for="text in about_text" v-text="text"></p>
    </div>
  </div>
  <div class="nav-space"></div>

  <div class="gallery" v-if="viewmode">
    <div id="scroller" class="scroller" :class="{horizontal:current.gallery_mode==0,vertical:current.gallery_mode==1}">
      <div v-for="photo in current ? current.photos:[]" track-by="id" class="detail" v-scrollable>
        <div class="photo full" @click="modal_open(photo)" :style="{'background-color': photo.color}">
          <div class="loader hidden"><div></div><div></div><div></div></div>
          <img class="image" v-photo="photo.path">
        </div>
        <div v-if="current.display_info" class="info">
          <div v-if="photo.aperture" class="sub meta" v-text="photo.aperture"></div>
          <div v-if="photo.exposure" class="sub meta" v-text="photo.exposure"></div>
          <div v-if="photo.title"    class="title"    v-text="photo.title"></div>
          <div v-if="photo.des"      class="des"      v-text="photo.des"></div>
          <div v-if="photo.photographer" class="meta">
            <span class="label">by </span>
            <a v-text="photo.photographer" target="_blank"
               :href="get_photographer_link(photo.photographer)"></a>
          </div>
          <div v-if="photo.location" class="meta">
            <span class="label">at </span>
            <span v-text="photo.location"></span>
          </div>
          <div v-if="photo.datetime" class="meta"  v-text="dateformat(photo.datetime)"></div>
          <div v-if="!photo.title"   class="title" v-text="　"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="albums" v-show="(router[0] == 'albums') && !viewmode">
    <div v-for="album in albums" track-by="id" @click="go('albums', album.name)" class="cover warpper">
      <div class="photo cover" :style="{'background-color':album.color}">
        <div class="loader hidden"><div></div><div></div><div></div></div>
        <div class="back-image" v-background-photo="album.cover"></div>
        <div class="overlay">
          <div class="info">
            <div class="name"   v-text="album.name"></div>
            <p   class="des"    v-text="album.des" v-if="album.des"></p>
            <div class="dash"></div>
            <p   class="amount" v-text="album.amount | pluralize 'photo'"></p>
            <p v-if="album.photographer">
              <span class="label">{{cfg.lanuages.photographer}}</span>
              <span v-text="album.photographer"></span>
            </p>
            <p v-if="album.location">
              <span class="label">{{cfg.lanuages.location}}</span>
              <span v-text="album.location"></span>
            </p>
            <div v-if="album.comments" class="dash"></div>
            <p   v-if="album.comments" v-text="album.comments | pluralize 'comment'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="footer" :class="{'semi-transparent':route('about')}">
    <a class="cell" :href="me_link" target="_blank" v-text="'&' + me"></a>
    <a class="cell" href="https://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank">CC BY-NC-ND</a>
  </div>

  <div id="modal" class="modal" :class="{'hidden':viewmode!=2}">
    <div v-if="viewmode==2" class="inner">
      <img v-modal-image="current.modal" class="image">
      <div class="left nav-zone"  @click="modal_next(-1)">
        <div class="center">
          <div class="icon button">
            <i class="material-icons">navigate_before</i>
          </div>
        </div>
      </div>
      <div class="right nav-zone" @click="modal_next(1)">
        <div class="center">
          <div class="icon button">
            <i class="material-icons">navigate_next</i>
          </div>
        </div>
      </div>
      <div class="close">
        <div class="pages">
          <div class="current" v-text="current.modal+1"></div>
          <div class="divider">/</div>
          <div class="total"   v-text="current.amount"></div>
        </div>
        <div class="icon button invert" @click="modal_close">
          <i class="material-icons">clear</i>
        </div>
      </div>
    </div>
  </div>

  <div class="background" :class="{hidden:!route('about')}">
    <div class="img" v-background-photo="'static/img/Stone/7123925381fab7e513dc52f46166e5cb.jpg'"></div>
  </div>
  <div id="warning">
    <div class="vertical-centered">
      <i class="material-icons">warning</i>
      <p>Unable to load structure file,<br>please check your configures and regenerate again.</p>
    </div>
  </div>
{% endblock %}

{% block tail %}
<script type="text/javascript" src="static/index.js"></script>
{% endblock %}
