{% extends 'base.html' %}

{% block theme_name %}Ants{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{cfg.static_dir}}/index.css">
{% endblock %}

<!--<div v-if="viewmode" class="headers">
  <div class="header">${current.name}</div>
  <div class="sub header">${current.des || (current.amount + '{{cfg.lanuages.photos}}')}</div>
  <div class="pages">
    <div class="current">${current.page || 1}</div>
    <div class="divider">/</div>
    <div class="total">${current.amount}</div>
    <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(-1)">navigate_before</i>
    <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(1)">navigate_next</i>
  </div>
</div>-->

{% block body %}
  <div class="nav" :class="{'semi-transparent':route('about')}">
    <div class="menu">
      <a  class="title" @click="go('overview')">
        <img  v-if="logo" class="logo" v-photo="logo"/>
        <span v-else v-text="title"><span>
      </a>
      <div class="item" @click="go('overview')" :class="{selected:route('overview')}">Overview</div>
      <div class="item" @click="go('albums')"   :class="{selected:route('albums')}"  >${viewmode? current.name: 'Albums'}</div>
      <div class="item" @click="go('about')"    :class="{selected:route('about')}"   >About</div>
    </div>
    <div class="back">
      <div @click="scrolltop" id="scrolltop_btn" class="icon button hidden">
        <i class="material-icons">vertical_align_top</i>
      </div>
      <div @click="router_back(1)" v-if="viewmode" transition="fade" class="icon button">
        <i class="material-icons">clear</i>
      </div>
    </div>
    <div class="about" v-show="router[0] == 'about'">
      <div class="headers">
        <div class="header"     v-text="title"></div>
        <div class="sub header" v-text="des"></div>
      </div>
      <div class="content">
        <div v-if="portrait" class="portrait"><img class="image" v-photo="portrait"></div>
        <div class="markdown" v-html="about"></div>
      </div>
    </div>
  </div>
  <div class="nav-space"></div>

  <div class="overview vertical-gallery" v-show="route('overview')">
      <div v-for="photo in overview_album.photos || []" class="photo-block">
        <div class="photo full" :style="{'background-color': photo.color}">
          <div class="loader hidden"><div></div><div></div><div></div></div>
          <img class="image" v-photo="photo.path">
        </div>
        <div class="info">
          <div v-if="photo.title"     v-text="photo.title"></div>
          <div v-if="photo.title && photo.datetime" style="margin-left:-0.4em;">,</div>
          <div v-if="photo.datetime"  v-text="dateformat(photo.datetime)"></div>
        </div>
      </div>
  </div>

  <div class="gallery" v-if="viewmode">
    <!--<div v-if="!is_mobile_device()" id="scroller" class="horizontal scroller">
      <div v-for="photo in current ? current.photos:[]" track-by="id" class="detail" v-scrollable>
        <div class="photo full" @click="modal_open(photo)" :style="{'background-color': photo.color}">
          <div class="loader hidden"><div></div><div></div><div></div></div>
          <img class="image" v-photo="photo.path">
        </div>
        <div v-if="current.display_info" class="info">
          <div v-if="photo.aperture" class="sub meta" v-text="photo.aperture"></div>
          <div v-if="photo.exposure" class="sub meta" v-text="photo.exposure"></div>
          <div v-if="photo.title"    class="title"    v-text="photo.title"></div>
          <div v-if="photo.des"      class="des"      v-text="photo.des"></div>
          <div v-if="photo.photographer" class="meta">
            <span class="label">by </span>
            <a v-text="photo.photographer" target="_blank"
               :href="get_photographer_link(photo.photographer)"></a>
          </div>
          <div v-if="photo.location" class="meta">
            <span class="label">at </span>
            <span v-text="photo.location"></span>
          </div>
          <div v-if="photo.datetime" class="meta"  v-text="dateformat(photo.datetime)"></div>
          <div v-if="!photo.title"   class="title" v-text="　"></div>
        </div>
      </div>
    </div>-->
    <div class="vertical-gallery">
      <div v-for="photo in current ? current.photos:[]" class="photo-block" @click="toggle_info(photo)">
        <div class="photo full" :style="{'background-color': photo.color}">
          <div class="loader hidden"><div></div><div></div><div></div></div>
          <img class="image" v-photo="photo.path">
          <div class="info" v-show="!photo.expend" transition="fade">
            <div v-if="photo.title"     v-text="photo.title"></div>
            <div v-if="photo.title && photo.datetime" style="margin-left:-0.4em;">,</div>
            <div v-if="photo.datetime"  v-text="dateformat(photo.datetime)"></div>
          </div>
        </div>
        <div class="details" v-show="photo.expend">
          <div class="basic" v-show="photo.title">
            <div v-if="photo.title"    class="title"    v-text="photo.title"></div>
            <div v-if="photo.des"      class="des"      v-text="photo.des"></div>
            <div v-if="photo.photographer" class="meta">
              <span class="label">by </span>
              <a v-text="photo.photographer" target="_blank"
                 :href="get_photographer_link(photo.photographer)"></a>
            </div>
          </div>
          <table class="extra">
            <tr>
              <td><i class="material-icons">crop</i><div>${(photo.width+' x '+photo.height) || 'Unknown'}</div></td>
              <td><i class="material-icons">access_time</i><div>${dateformat(photo.datetime) || 'Unknown'}</div></td>
            </tr>
            <tr>
              <td><i class="material-icons">camera</i><div>${photo.aperture || 'Unknown'}</div></td>
              <td><i class="material-icons">timelapse</i><div>${photo.exposure || 'Unknown'}</div></td>
            </tr>
            <tr>
              <td><i class="material-icons">location_on</i><div>${photo.location || 'Unknown'}</div></td>
              <td><i class="material-icons">nature_people</i><div>${photo.focal || 'Unknown'}</div></td>
            </tr>
            <tr>
              <td><i class="material-icons">group</i><div>${photo.people || 'Unknown'}</div></td>
              <td><i class="material-icons">color_lens</i><div>${(photo.color||'').toUpperCase() || 'Unknown'}</div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="albums" v-show="(router[0] == 'albums') && !viewmode">
    <div v-for="album in albums" track-by="md5" @click="go('albums', album.name)" class="cover warpper">
      <div class="photo cover" :style="{'background-color':album.color}">
        <div class="loader hidden"><div></div><div></div><div></div></div>
        <div class="back-image" v-background-photo="album.cover"></div>
        <div class="overlay">
          <div class="info">
            <div class="name"   v-text="album.name"></div>
            <p   class="des"    v-text="album.des" v-if="album.des"></p>
            <div class="dash"></div>
            <p   class="amount" v-text="album.amount + ' photo'"></p>
            <p v-if="album.photographer">
              <span class="label">{{cfg.lanuages.photographer}}</span>
              <span v-text="album.photographer"></span>
            </p>
            <p v-if="album.location">
              <span class="label">{{cfg.lanuages.location}}</span>
              <span v-text="album.location"></span>
            </p>
            <div v-if="album.comments" class="dash"></div>
            <p   v-if="album.comments" v-text="album.comments | pluralize 'comment'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="footer" :class="{'semi-transparent':route('about')}">
    <a class="cell" :href="me_link" target="_blank" v-text="'&' + me"></a>
    <a class="cell" href="https://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank">CC BY-NC-ND</a>
  </div>

  <div v-if="background" class="background" :class="{hidden:!route('about')}">
    <div class="img" v-background-photo="background"></div>
  </div>
  <div id="warning">
    <div class="vertical-centered">
      <i class="material-icons">warning</i>
      <p>Unable to load structure file,<br>please check your configures and regenerate again.</p>
    </div>
  </div>
{% endblock %}

{% block tail %}
<script type="text/javascript" src="static/index.js"></script>
{% endblock %}
