{% extends 'base.html' %}

{% block theme_name %}Ants{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{cfg.static_dir}}/index.css">
{% endblock %}

{% block body %}
  <div class="nav" id="nav">
    <div v-if="!viewmode" class="headers">
      <div class="header">${title}</div>
      <div class="sub header">${des}</div>
      <div class="menu">
        <div class="item">Overview</div>
        <div class="item">Projects</div>
        <div class="item">About</div>
      </div>
    </div>
    <div v-if="viewmode" class="headers">
      <div class="header">${current.name}</div>
      <div class="sub header">${current.des || (current.amount + '{{cfg.lanuages.photos}}')}</div>
      <div class="pages">
        <div class="current">${current.page || 1}</div>
        <div class="divider">/</div>
        <div class="total">${current.amount}</div>
        <!--
        <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(-1)">navigate_before</i>
        <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(1)">navigate_next</i>
        -->
      </div>
    </div>
    <div class="back">
      <div @click="scrolltop" id="scrolltop_btn" class="icon button hidden">
        <i class="material-icons">vertical_align_top</i>
      </div>
      <div @click="gallery_collapse" v-if="viewmode" transition="fade" class="icon button">
        <i class="material-icons">clear</i>
      </div>
    </div>
  </div>
  <div class="nav-space"></div>

  <div id="gallery" class="gallery" :class="{hidden:!viewmode}">
    <div v-if="viewmode" transition="height-toggle" id="scroller" style="display:none;" class="scroller" :class="{horizontal:current.gallery_mode==0,vertical:current.gallery_mode==1}">
      <div v-for="photo in current ? current.photos:[]" track-by="id" class="detail" v-scrollable>
        <div class="photo full" @click="modal_open(photo)"
            :style="{background: photo.color,
                     width:  current.gallery_mode==0 ? (photo.width * photo_height() / photo.height) : window_width(),
                     height: current.gallery_mode==0 ? photo_height() : undefined}">
          <div class="loader hidden"><c></c><c></c><c></c></div>
          <img class="image" v-photo="photo.path">
        </div>
        <div v-if="current.display_info" class="info">
          <div v-if="photo.aperture" class="sub meta">${photo.aperture}</div>
          <div v-if="photo.exposure" class="sub meta">${photo.exposure}</div>
          <div v-if="photo.title" class="title">${photo.title || '　'}</div>
          <div v-if="photo.des" class="des">${photo.des}</div>
          <div v-if="photo.photographer" class="meta"><span class="label">by </span>
            <span v-if="!photo.photographer_link">
            ${photo.photographer}
            </span>
            <a v-if="photo.photographer_link" target="_blank" :href="photo.photographer_link">
            ${photo.photographer}
            </a>
          </div>
          <div v-if="photo.location" class="meta"><span class="label">at </span>${photo.location}</div>
          <div v-if="photo.datetime" class="meta">${dateformat(photo.datetime)}</div>
          <div v-if="!photo.title" class="title">　</div>
        </div>
      </div>
    </div>
  </div>

  <div id="albums" class="albums" :style="{'margin-top': viewmode ? '1em' : 0 }">
    <div v-if="viewmode" transition="fade-down" class="block title">{{cfg.lanuages.albums}}</div>
    <div v-for="album in albums" track-by="id" @click="gallery_expand(album)" class="square photo cover"
        :style="{'background-color':album.color}" :class="{secondary:viewmode && current != album}">
      <div class="loader hidden"><div></div><div></div><div></div></div>
      <div class="back-image" v-background-photo="album.cover"></div>
      <div class="overlay">
        <div class="info">
          <div class="name">${album.name}</div>
          <p v-if="album.des" class="des">${album.des}</p>
          <div class="dash"></div>
          <p class="amount">${album.amount}{{cfg.lanuages.photos}}</p>
          <p v-if="album.photographer"><span class="label">{{cfg.lanuages.photographer}}</span>${album.photographer}</p>
          <p v-if="album.location"><span class="label">{{cfg.lanuages.location}}</span>${album.location}</p>
          <div v-if="album.comments" class="dash"></div>
          <p v-if="album.comments">${album.comments}{{cfg.lanuages.comments}}</p>
        </div>
      </div>
      <!--<div class="inner-border"></div>-->
    </div>
  </div>

  <div id="footer" class="footer">
    <a class="cell" :href="me_link" target="_blank">&${me}</a>
    <a class="cell" href="https://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank">CC BY-NC-ND</a>
  </div>

  <div id="modal" class="modal" :class="{'hidden':viewmode!=2}">
    <div v-if="viewmode==2" class="inner">
      <img v-modal-image="current.modal" class="image">
      <div class="left nav-zone" @click="modal_next(-1)">
        <div class="center">
          <div class="icon button"><i class="material-icons">navigate_before</i></div>
        </div>
      </div>
      <div class="right nav-zone" @click="modal_next(1)">
        <div class="center">
          <div class="icon button"><i class="material-icons">navigate_next</i></div>
        </div>
      </div>
      <div class="close">
        <div class="pages">
          <div class="current">${current.modal+1}</div>
          <div class="divider">/</div>
          <div class="total">${current.amount}</div>
        </div>
        <div class="icon button invert" @click="modal_close"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>

  <div id="warning">
    <div class="vertical-centered">
      <i class="material-icons">warning</i>
      <p>Unable to load structure file,<br>please check your configures and regenerate again.</p>
    </div>
  </div>
{% endblock %}

{% block tail %}
<script type="text/javascript" src="static/index.js"></script>
{% endblock %}
