/* =============== Commons =============== */
html, body, div
{
  font-family: Arial, sans-serif, 'Microsoft Yahei', '微软雅黑', MingLiU;
  color: rgba(0,0,0,0.8);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body
{
  margin: 0;
  background: #fff;
  padding: 0;
}
html, body
{
  height: 100%;
}

a
{
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.3s ease-in;
}
a:hover
{
  opacity: 1;
}
.hidden
{
  opacity: 0 !important;
  pointer-events: none;
}

.scroller
{
  height: 100;
  overflow: auto;
  display: flex;
}

.albums
{
  text-align: center;
  margin: 0;
  padding: 2em;
}
.albums .album
{
  vertical-align: top;
  font-size: 0.7em;
  transition: all 0.3s ease-in;
  margin: 1em;
  display: inline-block;
}
.albums .album .cover
{
  width: 32em;
  height: 18em;
  overflow: hidden;
}
.albums .album img
{
  width: 100%;
}
.albums .album .title
{
  height: 13px;
  font-size: 1.1em;
  margin: 0.7em 1em 0.3em 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.albums .album .des
{
  height: 13px;
  font-style: italic;
  margin: 0.5em 1em;
  opacity: 0.4;
  font-size: 0.8em;
}

.detail
{
  padding: 0.5em;
}
.photo img
{
  width: 100%;
}
