<!DOCTYPE html>
<!--
================== Astphotos Editor ==================
| A static one-page photo gallery website generator |
| Github: https://github.com/antfu/astphotos |
| Author: Anthony Fu |
================== Astphotos Editor ==================
-->
<html>
<head>
  <meta charset="utf-8">
  <title>Astphoto Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <script type="text/javascript" src="static/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="static/vue.min.js"></script>
  <link rel="stylesheet" href="static/material-icons/material-icons.css">
</head>

<body id="root">
  <div class="site relax card">
    <div class="title">Site</div>
    <table>
      <tbody>
        <tr>
          <td><div class="label"><i class="material-icons">title</i></div></td>
          <td><div class="editable" v-editable="title"></div></td>
        </tr>
        <tr>
          <td><div class="label"><i class="material-icons">chat</i></div></td>
          <td><div class="editable" v-editable="des"></div></td>
        </tr>
        <tr>
          <td><div class="label"><i class="material-icons">person</i></div></td>
          <td><div class="editable" v-editable="me"></div></td>
        </tr>
        <tr>
          <td><div class="label"><i class="material-icons">link</i></div></td>
          <td><div class="editable" v-editable="me_link"></div></td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="button" @click="update"><i class="material-icons">autorenew</i><br>Refresh</div>
  </div>

  <div class="albums relax card">
    <div v-for="album in albums" @click="set_current(album)" class="album">
      <div class="name" v-text="album.name"></div>
      <div class="amount" v-text="album.amount + ' photos'"></div>
    </div>
    <br>
    <div class="button" @click="new_album"><i class="material-icons">add</i><br>New Album</div>
  </div>

  <div v-if="current" class="photos relax card">
    <div class="title" v-text="current.name"></div>
    <table>
      <tbody>
        <tr>
          <td><div class="label"><i class="material-icons">title</i></div></td>
          <td><div class="editable" v-editable="current.name"></div></td>
        </tr>
        <tr>
          <td><div class="label"><i class="material-icons">chat</i></div></td>
          <td><div class="editable" v-editable="current.des"></div></td>
        </tr>
        <tr>
          <td><div class="label"><i class="material-icons">location_on</i></div></td>
          <td><div class="editable" v-editable="current.location"></div></td>
        </tr>
        <tr>
          <td><div class="label"><i class="material-icons">photo_camera</i></div></td>
          <td><div class="editable" v-editable="current.photographer"></div></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div v-show="current" class="photo-column">
    <div class="photo card">
      <div id="file_upload">
        Drag photos here to upload.
        <input type="file" id="fileselect" multiple="multiple" />
      </div>
    </div>
    <div class="photo card" v-for="photo in current?current.photos:[]">
      <div class="preview">
        <img :src="img_path(photo._src_path)"/>
      </div>
      <div class="meta">
        <table>
          <tbody>
            <tr>
              <td><div class="label"><i class="material-icons">title</i></div></td>
              <td><div class="editable" v-editable="photo.title"></div></td>
            </tr>
            <tr>
              <td><div class="label"><i class="material-icons">chat</i></div></td>
              <td><div class="editable" v-editable="photo.des"></div></td>
            </tr>
            <tr>
              <td><div class="label"><i class="material-icons">location_on</i></div></td>
              <td><div class="editable" v-editable="photo.location"></div></td>
            </tr>
            <tr>
              <td><div class="label"><i class="material-icons">photo_camera</i></div></td>
              <td><div class="editable" v-editable="photo.photographer"></div></td>
            </tr>
            <tr>
              <td><div class="label"><i class="material-icons">people</i></div></td>
              <td><div class="editable" v-editable="photo.people"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</body>

<script type="text/javascript" src="static/index.js"></script>
</html>
