<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' type='image/x-icon' href='{{cfg.static_files_path.favicon}}' />
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="{{cfg.static_files_path.material_icons}}">
  <script type="text/javascript" src="{{cfg.static_files_path.jquery_js}}"></script>
  <script type="text/javascript" src="{{cfg.static_files_path.vue_js}}"></script>
  <script type="text/javascript" src="static/vue-animated-list.js"></script>
  <link rel="stylesheet" href="static/semantic-transition.css">
  <script type="text/javascript" src="static/semantic-transition.js"></script>
  <script type="text/javascript" src="static/vue-transition.js"></script>
</head>
<body>
  <div class="nav" id="nav">
    <div v-if="!viewmode" class="headers">
      <div class="header">${title}</div>
      <div class="sub header">${des}</div>
    </div>
    <div v-if="viewmode" class="headers">
      <div class="header">${current.name.toLowerCase()}</div>
      <div class="sub header">${current.des || (current.amount + '{{cfg.lanuages.photos}}')}</div>
    </div>
    <div v-if="viewmode" transition="fade" class="pages">
      <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(-1)">navigate_before</i>
      <div class="current">${current.page || 1}</div>
      <div class="divider">/</div>
      <div class="total">${current.amount}</div>
      <i v-if="!current.gallery_mode" class="material-icons" @click="scroll(1)">navigate_next</i>
    </div>

    <div class="back">
      <div @click="scrolltop" id="scrolltop_btn" class="icon button hidden">
        <i class="material-icons">vertical_align_top</i>
      </div>
      <div @click="collapse" v-if="viewmode" transition="fade" class="icon button">
        <i class="material-icons">clear</i>
      </div>
    </div>
  </div>
  <div class="nav-space"></div>

  <div id="gallery" class="gallery hidden">
    <div v-if="current" id="scroller" v-scroller class="scroller" :class="{horizontal:current.gallery_mode==0,vertical:current.gallery_mode==1}">
      <div v-for="photo in current ? current.photos:[]" track-by="id" class="detail">
        <div class="photo full" @click="open_modal(photo)" v-horizontal-scrollable-photo
            :style="{background: photo.color,
                     width:  current.gallery_mode==0 ? (photo.width * photo_height() / photo.height) : window_width(),
                     height: current.gallery_mode==0 ? photo_height() : undefined}">
          <img class="image" :src="photo.path" v-full-photo>
        </div>
        <div v-if="current.display_info" class="info">
          <div v-if="photo.aperture" class="sub meta">${photo.aperture}</div>
          <div v-if="photo.exposure" class="sub meta">${photo.exposure}</div>
          <div v-if="photo.title" class="title">${photo.title || '　'}</div>
          <div v-if="photo.des" class="des">${photo.des}</div>
          <div v-if="photo.photographer" class="meta"><span class="label">&</span>${photo.photographer}</div>
          <div v-if="photo.location" class="meta"><span class="label">@</span>${photo.location}</div>
          <div v-if="!photo.title" class="title">　</div>
        </div>
      </div>
    </div>
  </div>

  <div id="albums" class="albums">
    <div v-if="viewmode" transition="fade-down" class="block title">{{cfg.lanuages.albums}}</div>
    <div v-for="album in albums" track-by="id" @click="expand(album)" class="square photo cover"
        :style="{background:album.color}" :class="{secondary:viewmode && current != album}">
      <img class="image" :src="album.cover" v-square-image>
      <div class="overlay">
        <div class="info">
          <div class="name">${album.name}</div>
          <p v-if="album.des" class="des">${album.des}</p>
          <div class="dash"></div>
          <p class="amount">${album.amount}{{cfg.lanuages.photos}}</p>
          <p v-if="album.photographer"><span class="label">{{cfg.lanuages.photographer}}:</span> ${album.photographer}</p>
          <p v-if="album.location"><span class="label">{{cfg.lanuages.location}}:</span> ${album.location}</p>
          <div v-if="album.comments" class="dash"></div>
          <p v-if="album.comments">${album.comments}{{cfg.lanuages.comments}}</p>
        </div>
      </div>
      <!--<div class="inner-border"></div>-->
    </div>
  </div>

  <div id="footer" class="footer">
    <a class="cell" href="https://antnf.com">&anthony</a>
    <a class="cell" href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC BY-NC-ND</a>
  </div>

  <div id="modal" class="modal" :class="{'hidden':viewmode!=2}">
    <div v-if="viewmode==2" class="inner">
      <img v-modal-image="current.modal" class="image">
      <div class="left nav-zone" @click="next(-1)">
        <div class="center">
          <div class="icon button"><i class="material-icons">navigate_before</i></div>
        </div>
      </div>
      <div class="right nav-zone" @click="next(1)">
        <div class="center">
          <div class="icon button"><i class="material-icons">navigate_next</i></div>
        </div>
      </div>
      <div class="close">
        <div class="pages">
          <div class="current">${current.modal+1}</div>
          <div class="divider">/</div>
          <div class="total">${current.amount}</div>
        </div>
        <div class="icon button invert" @click="close"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="static/index.js"></script>
</html>
